<!DOCTYPE html>
<html
  {{- with site.LanguageCode | default site.Language.Lang }} lang="{{ . }}"{{ end -}}
  {{- if ne .Site.Params.rtl nil }}dir="{{ with .Site.Params.rtl }}rtl{{ else }}ltr{{ end }}"{{ end }}>
  {{ partial "head.html" . }}
  <body class="m-0 min-h-screen flex flex-col  font-light tracking-wide text-neutral-900">
    <header class="mb-2 border-b shadow-sm">
      {{ partial "header.html" . }}
    </header>
    {{ partial "breadcrumb.html" . }}
    <main class="flex grow flex-col justify-center pt-10">
      {{ block "main" . }}{{- end }}
    </main>
    <footer class="mt-10">
      {{- /* partialCached "footer.html" . .IsHome */ -}}
      {{ partialCached "footer.html" . }}
    </footer>
  </body>
</html>