{{ define "main" -}}
{{- $cover := resources.GetMatch (.Params.cover | default "*cover*") }}
{{- $feature := resources.GetMatch (.Params.feature | default "*feature*") | default $cover }}
<div class=" max-w-screen-full mx-auto items-center px-4% md:flex">
  {{- $image := .Resources.GetMatch "about.jpeg" }}
  {{- with $image }}
  <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
  {{- end }}
  {{- with $feature }}
  <div class="basis-1/3 pb-6 text-center md:mr-4%">
    <img class="mx-auto rounded shadow" src="{{ .RelPermalink }}" />
  </div>
  {{- end }}
  <div class="flex grow basis-1/2 justify-center">
    <div class="max-w-screen-full prose pb-10">
      {{ .Content }}
    </div>
  </div>
</div>
{{- end }}