{{ define "main" -}}
  {{- $feature:= resources.GetMatch "home.jpeg" }}
{{ with .Resources.GetMatch "home.jpeg" }}
  <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}">
{{ end }}
{{ with .Resources.GetMatch "images/home.jpeg" }}
  <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}">
{{ end }}
  <div
    class="mx-auto
    max-w-screen-lg items-center
    justify-between px-4% md:flex md:flex-row-reverse">
    <div class="flex justify-center text-center md:text-left">
      <div class="pb-10 text-sm">
        {{ partial "contact.html" . }}
      </div>
    </div>
    {{/* with $feature */}}
      <div class="basis-1/2 text-center md:mr-4%">
{{ $lxqtscr := resources.Get "images/home.jpeg" }}
        <img class="mx-auto rounded shadow" src="{{ $lxqtscr.Permalink }}" />
      </div>
    {{/* end */}}
  </div>
  {{ with .Content }}
    <hr>
    {{ . }}
  {{end}}
{{- end }}